<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FURRURU 快速媒合</title>
    <script src="https://kit.fontawesome.com/f1f29270e9.js" crossorigin="anonymous"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/all.js"></script>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <script>
    
    </script>
    <div class="navbar">
      <div class="container ">
        <h1><a href="./">FURRURU 呼嚕嚕</a></h1>
        <ul class="menu">
          <li><a href="./booking">快速媒合</a></li>
          <li><a href="./schedule">寶貝動態</a></li>
          <li><a href="./cam">即時影像</a></li>
          <li><a href="./about">關於呼嚕</a></li>          
          <li><a href="#">帳戶</a></li>
          
        </ul>
        <i class="fa-solid fa-bars"></i>
        
      </div>
    </div>
    
    <div class="banner">
      <div class="container">
        <div class="title">
          <p class="FURRURU_title">FURRURU</p>
          <p class="FURRURU_title">FURRURU</p>
        </div>
        <div class="banner_slogan">
          <p>呼嚕嚕</br>讓您與毛寶貝心裡暖呼呼</p>
          <a  class="start "href="./booking">預約服務</a>
        </div>
      </div>
      <section>
        <div class="wave wave0"></div>
          <div class="wave wave1"></div>
          <div class="wave wave2"></div>

      </section>
    </div>
    <div class="content container">
      <div class="tech">
        <h2>快速媒合</h2>
        <p>我們將提供最適合您寶貝的服務</p>
      </div>
    
    <ul class="caretaker-list">
      <li><div class="caretaker">
        <img src="./img/caretaker1.png" al
t="照護人員" class="caretaker-pic">        <div class="info">
          <p class="caretaker_title">闔家寵物照護</p>
          <span>台北市 4km</span>
          <ul class="service">
            <li><img src="./img/CheckBox.png" alt=""><p>寄宿服務</p></li>
            <li><img src="./img/CheckBox.png" alt=""><p>寄宿服務</p></li>
            <li><img src="./img/CheckBox.png" alt=""><p>寄宿服務</p></li>
          </ul>
          <div class="review">
          <p>評價：</p>
          <img src="#" alt="星">
          <a href="#" class="review-number">(88則)</a>
          </div>
        </div>
      </div>
      <div class="tag">
        <ul>
          <li><p>貓狗皆可</p></li>
          <li><p>接送服務</p></li>
          <li><p>專業證照</p></li>
        </ul>
      </div>
    </li>
      <li></li>
      <li></li>
    </ul>
    <div class="safeplan_pic">
     <img src="./img/caretakers.png" alt="caretakers_demo_pic">
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/select.js"></script>
    <script src="../js/booking_option.js"></script>
    <script src="../js/test.js"></script>
    </body>
</html>
